@import url("https://fonts.googleapis.com/css2?family=Delius&family=DynaPuff:wght@400..700&family=Handlee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Jura", sans-serif;
  box-sizing: border-box;
}
:root {
  /* I will include my colors here */
  --color-1: #ffd0d0;
  --color-2: #8764ce;
  --color-3-lightborder: rgba(0, 0, 0, 0.332);
}
body section:first-of-type {
  /* padding: 0 !important; */
}
section {
  padding: 2rem 0rem;
}
.bg-primary {
  background-color: var(--color-2) !important;
}
#home {
  height: 100vh;
  /* width: 100vw; */
  gap: 0 10rem;

  background-color: var(--color-1);
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
}
.hero img {
  height: 35rem;
}
.book-info {
  text-transform: uppercase;
  /* line-height: 40px; */
  font-weight: 500;
  font-size: 1.5rem;
}
.book-info span {
  -webkit-text-stroke: 1px var(--color-2);
  font-size: 4rem;
  font-weight: 800;
  color: transparent;
  text-shadow: -3px 5px 15px rgb(150, 94, 94);
}
.buy-book {
  /* width: 100vw; */
}
.button-style-1 {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
}
.button-style-1:hover {
  color: var(--color-1);
  border-color: var(--color-1);
  transition: 0.2s ease-in-out;
}
header {
  /* width: 100vw; */
}
#nav {
  background-color: var(--color-1) !important;
  padding-right: 3rem;
  /* height: 7rem; */
}
/* styling nav pills for the scroll spy */
.nav-pills {
  --bs-nav-pills-link-active-bg: none !important;
  /* font-weight: 500; */
  /* text-decoration: underline; */
}
.active {
  position: relative;
  font-weight: 1000 !important;
  color: var(--color-2) !important;
}
.active::after {
  position: absolute;
  bottom: 6px;
  right: 0px;
  height: 2px;
  width: 100%;
  content: "";
  background-color: var(--color-2);
}
#about {
  /* width: 100vw; */
}
.about-description {
  gap: 0rem 6rem;
}
#about img {
  height: 30rem;
  /* width: 30rem; */
  border: 2px solid black;
}
.heading-style-three {
  -webkit-text-stroke: 1px var(--color-2);
  color: transparent;
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.heading-style-three::after {
  position: absolute;
  content: " ";
  background-color: var(--color-2);
  height: 90%;
  width: 6px;
  top: 5%;
  /* right: 49%; */
  left: 105%;
  /* text-align: right; */
}

/* review */
.review-card {
  background-color: lightgray;
  height: 14rem;
  text-align: justify;
}
.review-card p:first-of-type {
  height: 70%;
}

.profile {
  height: 2rem;
}

/* author */

#author-info img {
  height: 23rem;
  width: 17rem;
}
#carousel {
  max-width: 600px;
  max-height: 800px;
  overflow: hidden;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.carousel-indicators [data-bs-target] {
  background-color: #88ff00 !important;
}
/* buy now
 */
#buy-now .button-style-1 {
  border-color: black;
  color: black;
}
#buy-now .button-style-1:hover {
  color: var(--color-2);
  border-color: var(--color-1);
}

/* other information

*/
.accordion-body {
  text-align: left;
  /* font-weight: 1000 !important; */
}
/* publisher data */
#publisher-data-pane,
#related-resources-pane {
  color: black !important;
}
#related-resources-pane strong {
  font-weight: bolder !important;
}
/* footer
 */
footer {
  background: var(--color-1);
  color: black;
}
